<div class="uk-card uk-card-default uk-card-hover uk-card-body uk-position-center width">
  <form #loginForm="ngForm">
    <fieldset class="uk-fieldset">

      <legend class="uk-legend uk-text-center">
        <img src="../../assets/img/logo_1920x400.png" width="290px">
      </legend>

      <div class="uk-margin">
        <label class="uk-form-label" for="username">Username</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="username" type="text" placeholder="Enter the username" name="username" ngModel>
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="password">Password</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="password" type="password" placeholder="Enter the password" name="password" ngModel>
        </div>
      </div>

      <div class="uk-margin uk-text-center">
        <a (click)="onSubmit(loginForm.value)" class="uk-icon-button" uk-icon="icon: sign-in" title="Login" uk-tooltip></a>
      </div>
    </fieldset>
  </form>
</div>
