<div class="uk-container uk-container-expand navbar-bg uk-box-shadow-small">
  <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>

    <div class="uk-navbar-left">
      <a class="uk-navbar-item uk-logo" href="/">LabOrTool</a>
    </div>

    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        <li>
          <a href="#">Inventory</a>
          <div class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">
              <li><a routerLink="/inventory/manufacturers">Manufacturers</a></li>
              <li><a routerLink="/inventory/distributors">Distributors</a></li>
              <li><a routerLink="/inventory/locations">Locations</a></li>
            </ul>
          </div>
        </li>
        <li><a href="/activities">Activities</a></li>
      </ul>
    </div>

  </nav>
</div>
