<app-menu></app-menu>

<div class="uk-container">
  <div class="uk-box-shadow-small uk-box-shadow-hover-medium uk-margin-medium-bottom uk-card-default">
    <form class="uk-search uk-search-large uk-width-1-1">
      <span uk-search-icon></span>
      <input class="uk-search-input" type="search" placeholder="Search..." (keyup)="onKey($event)">
    </form>
  </div>

  <div class="uk-margin-remove uk-padding uk-box-shadow-small uk-card-default">
    <div class="uk-panel">
      <h2 class="uk-float-left uk-margin-remove uk-margin-small-left">Category parameter types</h2>

      <div class="uk-float-right uk-margin-remove uk-margin-small-right">
        <a routerLink="/inventory/category-parameter-types/add" class="uk-icon-button" uk-icon="icon: plus" title="Add" uk-tooltip></a>
      </div>
    </div>

    <hr>

    <ul uk-accordion>
      <li *ngIf="CPTs.length === 0">No data were found!</li>

      <li *ngFor="let Cpt of CPTs">
        <h3 class="uk-accordion-title">{{Cpt.Name}}</h3>

        <div class="uk-accordion-content">
          <p>Category: {{Cpt.CategoryName}}</p>
          <p>Unit: {{Cpt.UnitName}} ({{Cpt.UnitShortName}})</p>

          <div class="uk-float-right uk-margin-remove uk-margin-small-right">
            <a (click)="deleteCPT(Cpt.Id)"><span class="uk-label uk-label-danger">Delete</span></a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
