<app-menu></app-menu>

<div class="uk-container uk-margin">
  <div class="uk-padding uk-box-shadow-small">
    <form #cpForm="ngForm">
      <fieldset class="uk-fieldset">

        <legend class="uk-legend">Add new component parameter</legend>

        <div class="uk-margin">
          <label class="uk-form-label" for="component">Component</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="component" type="text" name="Component" value="{{id}}" disabled>
          </div>
        </div>

        <div class="uk-margin">
          <label class="uk-form-label" for="cpt">Category parameter type</label>
          <div class="uk-form-controls">
            <select class="uk-select" id="cpt" name="CPT" ngModel>
              <option></option>
              <option *ngFor="let Cpt of CPTs" value="{{Cpt.Id}}">{{Cpt.Name}}</option>
            </select>
          </div>
        </div>

        <div class="uk-margin">
          <label class="uk-form-label" for="value">Value</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="value" type="text" name="Value" ngModel>
          </div>
        </div>

        <div class="uk-margin">
          <label class="uk-form-label" for="prefix">Prefix</label>
          <div class="uk-form-controls">
            <select class="uk-select" id="prefix" name="Prefix" ngModel>
              <option></option>
              <option *ngFor="let Pre of Prefixes" value="{{Pre.Id}}">{{Pre.Name}}</option>
            </select>
          </div>
        </div>

        <div class="uk-margin">
          <label class="uk-form-label" for="note">Note</label>
          <div class="uk-form-controls">
            <textarea class="uk-textarea uk-resize-vertical" id="note" rows="5" placeholder="Insert the note" name="Note" ngModel></textarea>
          </div>
        </div>

        <div class="uk-margin">
          <a routerLink="/inventory/components/view/{{id}}" class="uk-float-left uk-icon-button" uk-icon="icon: arrow-left" title="Back" uk-tooltip></a>
          <a (click)="onSubmit(cpForm.value)" class="uk-float-right uk-icon-button" uk-icon="icon: plus" title="Add" uk-tooltip></a>
        </div>

      </fieldset>
    </form>
  </div>
</div>
